@model OrderDbFirst.Models.Drink

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Drink</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drink1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drink1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DrinkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
